 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  Style Script;

 }

 html,body{
    width: 100%;
    height: 100%;
 }


 .container{
    width: 100%;
    height: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .boxes{
    width: 25%;
    height: 96%;
    background-color:transparent;
    padding: 2rem 1rem 1rem 1rem;
 }

 .box-1{
    width: 100%;
    height: 28%;
    border: 3px dotted green;
     background-color: transparent;
    align-content: center;
    justify-items:  center;
    margin-top: .5rem;
 }

 .box-1 i,.box-2 i,.box-3 i{
    margin-top: -4rem;
    font-size: 3rem;
    margin-left: 40%;
 }

 .box-2{
      width: 100%;
    height: 28%;
    border: 3px dotted green;
   
    margin-top: 2.5rem;
    align-content: center;
    justify-items: center;
 }


  .box-3{
      width: 100%;
    height: 28%;
border: 3px dotted green;
    margin-top: 2.5rem;
    align-content: center;
    justify-items: center;
 }
 

 h1{
    font-size: 4rem;
    
 }

 h3{
    margin-top: .2rem;
    font-weight: 400;
    font-size: 1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 
 

 @media (max-width:600px) {
    
 
    
 .boxes{
    width: 75%;
    height: 85%;

    padding: 2rem 1rem 1rem 1rem;
 }

 .box-1{
    width: 100%;
    height: 29%;
    border: 3px dotted green;
     background-color: transparent;
    align-content: center;
    justify-items:  center;
    margin-top: .5rem;
 }

 .box-1 i,.box-2 i,.box-3 i{
    margin-top: -9rem;
    font-size: 3rem;
    margin-left: 42%;
 }

 .box-2{
      width: 100%;
    height: 29%;
    border: 3px dotted green;
   
    margin-top: 2.5rem;
    align-content: center;
    justify-items: center;
 }


  .box-3{
      width: 100%;
    height: 29%;
border: 3px dotted green;
    margin-top: 2.5rem;
    align-content: center;
    justify-items: center;
 }
 

 h1{
    font-size: 4rem;
    
 }

 h3{
    margin-top:.1rem;
    font-weight: 400;
    font-size: 1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 
 




 }